name = "wonder-words"
main = "build/worker.js"
compatibility_date = "2025-12-02"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[assets]
directory = "./dist"
binding = "ASSETS"

[observability]
enabled = true
